<!-- NAV -->
<nav id="navbar">
  <a href="index.html" class="nav-logo">
    <div class="nav-logo-icon"><i class="fa-solid fa-mosque"></i></div>
    <div class="nav-logo-text">
      <strong>Al-Islah Residential College</strong>
      <span>Illuminating Minds Since 2015</span>
    </div>
  </a>
  <ul class="nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="courses.html">Courses</a></li>
    <li><a href="notices.html">Notices</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="faculties.html">Faculties</a></li>
    <li><a href="https://surveyheart.com/form/5eddf1614c61d73dbce3fbe4">Admissions</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  <div class="nav-cta">
    <a href="https://surveyheart.com/form/5eddf1614c61d73dbce3fbe4" class="btn-apply">Apply Now</a>
  </div>
  <button class="hamburger" id="hamburger" onclick="toggleMenu()">
    <span></span><span></span><span></span>
  </button>
</nav>

<!-- Mobile Nav -->
<div class="mobile-nav" id="mobile-nav">
  <a href="index.html" onclick="closeMenu()">Home</a>
   <a href="about.html" onclick="closeMenu()">About</a>
  <a href="courses.html" onclick="closeMenu()">Courses</a>
  <a href="notices.html" onclick="closeMenu()">Notices</a>
  <a href="gallery.html" onclick="closeMenu()">Gallery</a>
  <a href="faculties.html" onclick="closeMenu()">Faculties</a>
  <a href="https://surveyheart.com/form/5eddf1614c61d73dbce3fbe4" onclick="closeMenu()">Admissions</a>
  <a href="contact.html" onclick="closeMenu()">Contact</a>
  <a href="https://surveyheart.com/form/5eddf1614c61d73dbce3fbe4" onclick="closeMenu()" class="mobile-nav-cta">Apply Now</a>
</div>
